<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Showtimes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/browse_movies_timeslot_styles.css') }}">
</head>

<body class="wrapper">
    <header>
        <nav>
            <div class="logo">Movie Showtimes</div>
            <div class="user-icon">
                <img src="{{url_for('static',filename='Images/user-icon.jpg') }}" alt="User Icon" id="userIcon">
                
                <div class="user-popup" id="userPopup">
                    <div id = "user_details" class="user-details">
                    </div>
                    <button id="logoutButton" class="search_btn">Logout</button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" id="showtimes"> </div>
    
    <script src="{{ url_for('static', filename='JS/timeslot.js') }}"></script>
</body>

</html>
