body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper {
    margin: 0 auto;
    padding: 0px 0px;
    background-color:aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search_btn {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.search_btn:hover{
    background-color:slateblue;
    transition: ease;
    transition-delay: 0.2s;
}

.user-icon {
    position: relative;
    cursor: pointer;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.user-details h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.user-details p {
    margin: 0;
}

.movie-list {
    display:flex;
    flex-wrap: wrap;
}

.movie-tile {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

@media (max-width: 768px) {
    .movie-tile {
        width: calc(50% - 20px);
    }
}