body {
    font-family: Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0px 0px;
    background-color:aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
}

.user-icon {
    position: relative;
    cursor: pointer;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-popup {
    display: none;
    position:absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.user-details h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.user-details p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color:blue;
}

#showtimes {
    margin-top: 20px;
}

.showtime-tile{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f4f4f4;
}