body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_heading{
    color:tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color:antiquewhite;
    padding: 100px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form {
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.log_reg_btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.log_reg_btn:hover{
    background-color:mediumblue;
    /* transition: ease; */
    transition-duration: 0.6s;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: navy;
}
